form {
    margin-right: auto;
    margin-left: 20px;
    max-width: 500px;
    margin-top: 30px;
}
fieldset {
    float: left;
    clear: left;
    width: 100%;
    margin: 0 0 2.5em 2.5;
    padding: 0 0 0 0;
}

label {
    display: flex;
    margin-right: 10em;
    margin-left: 0.5em;
    padding-left: 230px;
}

.register {
  color: #e2e3ea;
}

input:not([type=submit])
 {
 position: relative;
 padding: 1px;
 padding-left: 10px;
 padding-right: 5px;
 margin: 0 0 0 0;
 width:60%;
 border-top: 0;
 border-right: 0;
 border-bottom: 1px solid #bdc3c7;
 border-left: 0;
 transition: border-bottom-color .15s ease-in;
 flex: 1;
 }

/* Style the submit button */
input[type=submit].login {
    width: 10%;
    background-color: #aa0412;
    color: white;
    padding: 1px 3px;
    margin: 20px 10;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
input[type=submit].register {
    width: 20%;
    background-color: #1932FF;
    color: white;
    padding: 1px 3px;
    margin: 20px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

textValue {

    box-sizing: border-box;
	border: none;
	border-radius: 3px;
	resize: none;
	font-size: 20px;
	line-height: 50px;
	overflow: auto;
	height: auto;
	padding: 8px;
	box-shadow: 0px 4px 10px -8px black;
    flex: 1;
}


wrapper {
    padding: 5px 10px;

}

.wrapper fieldset {
    margin: 10px 0;
}

.form {
        color: "white";
        backgroundColor: "green";
        padding: "10px";
        fontFamily: "Arial";
}
